:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Custom styles to complement Tailwind */
body {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Custom utility classes if needed */
.card {
  width: 650px;
  @apply bg-green-900 shadow-lg rounded-lg p-4 mb-4;
}

.image {
  @apply w-64 h-64 object-cover rounded-lg mb-4 mr-5;
}

.title {
  @apply text-xl font-semibold mb-2;
}

.text {
  @apply mb-2;
}

.error {
  @apply text-red-500 text-center;
}

.loading {
  @apply text-center text-lg font-semibold;
}
